.jumbotron {
	background-color: grey;
	color: black;
}
	.btn {
		background-color: grey;
	}
.footer {
	padding: :10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px
}

.card-cotizar {
	flex: 1 200px;
	padding:  2px 0px 2px 0px;
	margin-top: 10px
}